
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		body,html{
			width: 100%;
			height: 100%;
		}
		/*公共样式*/
		.clearfix:after{
			content: '.';
			height: 0;
			overflow: hidden;
			clear: both;
			visibility: hidden;
			display: block;
		}
		/*头部header*/
		@font-face {font-family: 'iconfont';
		    src: url('img/iconperson/iconfont.eot'); /* IE9*/
		    src: url('img/iconperson/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		    url('img/iconperson/iconfont.woff') format('woff'), /* chrome、firefox */
		    url('img/iconperson/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		    url('img/iconperson/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
		}
		.iconmore{
		    font-family:"iconfont" !important;
		    font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    font-size: 30px;
		    margin-left: 10px;

		}
		.iconTriangle{
		    font-family:"iconfont" !important;
			font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    font-size: 16px;
		    margin-left: 10px;
		    display: inline-block;
		    float: right;
		    margin-top: 18px;
		}
		.iconfont{
		    font-family:"iconfont" !important;
		    font-size:36px;font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		}
		/*header*/
		.header{
			width: 100%;
			height: 50px;
			background-color: #3993cf;
			float: left;
		}
		.header a{
			text-decoration: none;
			color: #fff;
			font-family: "微软雅黑";
			height: 50px;
			line-height: 50px;
		}
		.header .more{
			float: left;
		}
		.header .posi{
			margin-left: 10px;
			display: block;
			float: left;
			margin-left: 3px;
			font-weight: normal;
			font-size: 18px;
			height: 50px;
			line-height: 50px;
		}
		.header span{
			background: url("img/logo.png");
			width: 32px;
			height: 32px;
			display: inline-block;
			float: left;
			margin-top: 9px;
			margin-left: 8px;
		}
		.searchfont{
			font-family:"iconfont" !important;
		    font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    font-size: 30px;
		    margin-left: 10px;
		    float: right;
		    display: block;
		}
		.search{
			display: inline-block;
			float: right;
			margin-right: 15px;
		}
		.infolist ul{
			list-style: none;
			width: 100%;
			background-color: #2f3036;
			padding-top: 50px;
			height: 800px;
		}
		.infolist ul a{
			text-decoration: none;
		    color: #b0b0b0;
		    display: block;
		    height: 60px;
		    line-height: 60px;
		    padding-left: 20px;
		}
		.infolist li:first-child{
			border-top: 0;
			border-bottom: 3px solid #3993cf;
			position: relative;
		}
		.infolist li{
			border-top: 3px solid #38393f;
		}
		.infolist ul li i{
			float: left;
		}
		.infolist ul span{
			line-height: 60px;
		    height: 60px;
		    display: block;
		    float: left;
		    margin-left: 10px;
		}
		.infolist img{
			display: block;
			float: left;
			width: 64px;
			height: 64px;
		}
		.infolist li:last-child{
			height: 76px;
    		padding-top: 10px;
		}
		.infolist small{
			float: left;
			position: absolute;
			left: 60px;
    		top: 20px;
		}
		.infolist li:first-child span{
			color: #fff;
			font-size: 16px;
			font-family: "微软雅黑";
		}
	</style>

	<!-- 头部 -->
	<div class="header clearfix">
		<a href="#" class="more"><i class="iconmore">&#xe6ff;</i></a><!-- 更多 -->
		<span></span><!-- logo -->
		<a href="#" class="posi">花园路<i class="iconTriangle">&#xe600;</i></a>
		<a ui-sref="search" class="search"><i class="searchfont">&#xe644;</i></a>
	</div>
	<div class="infolist">
		<ul>
			<li><a ui-sref="personalcenter"><i class="iconfont person">&#xe607;</i><span>个人中心</span><small>登录可享更多特权</small></a></li>
			<li><a href="#"><i class="iconfont">&#xe662;</i><span>我要订餐</span></a></li>
			<li><a href="#"><i class="iconfont">&#xe613;</i><span>饿单中心</span></a></li>
			<li><a ui-sref="gift"><i class="iconfont">&#xe6bf;</i><span>礼品中心</span></a></li>
			<li><a ui-sref="invite"><i class="iconfont">&#xe61b;</i><span>邀请好友</span></a></li>
			<li><a ui-sref="about"><i class="iconfont">&#xe641;</i><span>关于我们</span></a></li>
			<li><a ui-sref="camera"><img src="img/camera.png" alt="相机"><span>美颜相机</span></a></li>
		</ul>
	</div>
