
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		body,html{
			width: 100%;
			height: 100%;
		}
		/*公共样式*/
		.clearfix:after{
			content: '';
			height: 0;
			overflow: hidden;
			clear: both;
			visibility: hidden;
			display: block;
		}
		/*头部header*/
		@font-face {font-family: 'iconfont';
			src: url('img/iconabout/iconfont.eot'); /* IE9*/
			src: url('img/iconabout/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('img/iconabout/iconfont.woff') format('woff'), /* chrome、firefox */
			url('img/iconabout/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url('img/iconabout/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
		}
		.iconfontMore{
			font-family:"iconfont" !important;
			font-size:30px;font-style:normal;
			-webkit-font-smoothing: antialiased;
			-webkit-text-stroke-width: 0.2px;
			-moz-osx-font-smoothing: grayscale;
			color: #fff;
			margin-left: 6px;
		}
		.header{
			width: 100%;
			height: 50px;
			background-color: #3993cf;
			float: left;
		}
		.header a{
			float: left;
			height: 50px;
			line-height: 45px;
			text-decoration: none;
		}
		.header h1{
			float: left;
			margin-left: 6px;
			font-weight: normal;
			font-size: 18px;
			height: 10px;
			line-height: 10px;
			color: #fff;
			font-family: "微软雅黑";
		}
		.header span{
			background: url("img/logo.png");
			width: 32px;
			height: 32px;
			display: inline-block;
			float: left;
			margin-top: 9px;
			margin-left: 10px;
		}
		.header a{
			display: inline-block;
			width: 30px;
			height: 30px;
		}

		/*tab选项卡*/
		.tab{
			width: 190px;
			margin: 0 auto;
			padding-top: 70px;
		}
		.tab a{
			display: inline-block;
			width: 95px;
			height: 35px;
			text-decoration: none;
			background-color: #d6d6d6;
			text-align: center;
			line-height: 35px;
			float: left;
			margin: 0 auto;
			color: #000;
			font-family: "微软雅黑";
		}
		.tab a:first-child{
			border-radius: 5px 0 0 5px;
		}
		.tab a:last-child{
			border-radius: 0 5px 5px 0;
		}

		.tab a.active{/*tab选中时的样式*/
			background-color: #ffc600;
		}
		/*content中的信息*/
		.infofirst{
			border-radius: 10px 10px 10px 10px;
			padding-top: 30px;
		}
		.content{
			width: 100%;
			background-color: #dd4026;
			padding-bottom: 300px;
		}
		.listfirst{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.content .titles{
			font-weight: normal;
			font-family: "SimSun";
			font-size: 14px;
			text-align: center;
			color: #fff;
			margin-bottom: 20px;
		}
		.listfirst .infofirst ul{
			list-style: none;
			width: 280px;
			margin: 0 auto;
			height: 100px;
		}
		.listfirst .infofirst{
			width: 90%;
			background-color: #ffefaa;
			margin: 0 auto;
		}
		.infofirst a{
			margin-left: 6px;
			height: 80px;
			width: 64px;
			display: block;
			float: left;
			text-decoration: none;
			color: #000;
			text-align: center;
		}
		/*第二个信息*/
		.infosecond{
			width: 90%;
		    background-color: #ffefaa;
		    margin: 0 auto;
		    border-radius: 10px;
		    text-align: center;
		}
		.infosecond ul{
			list-style: none;
			padding: 20px;
			text-align: left;
		}
		.infosecond ul li{
			border-bottom: 2px dashed #ffb7ab;
		}
		.infosecond button{
			width: 93px;
			height: 32px;
			background-color: #ffc936;
			border: 1px solid #e7bb30;
			margin-bottom: 20px;
		}
	</style>

<!-- 头部 -->
	<div class="header clearfix">
		<a href="#"><i class="iconfontMore">&#xe6ff;</i></a><!-- 更多 -->
		<span></span><!-- logo -->
		<h1>邀请好友</h1>
	</div>
<div class="content">
	<!-- tab选项卡 -->
	<div class="tab clearfix">
		<a href="#" class="active">邀请好友</a>
		<a href="#">活动规则</a>
	</div>
<!-- 第一个信息 -->
	<div class="listfirst">
		<div class="titles">
			<h3>方法1 通过社交网络邀请</h3>
		</div>
		<div class="infofirst clearfix">
			<ul>
				<li><a href="#"><img src="img/sina.png" alt="新浪微博">新浪微博</a></li>
				<li><a href="#"><img src="img/weibo.png" alt="微信">微信好友</a></li>
				<li><a href="#"><img src="img/friendCirl.png" alt="朋友圈">朋友圈</a></li>
				<li><a href="#"><img src="img/message.png" alt="信息">发送短信</a></li>
			</ul>
		</div>
	</div>
<!-- 第二个信息 -->
	<div class="listsecond">
		<div class="titles">
			<h3>方法2 直接邀请</h3>
		</div>
		<div class="infosecond">
			<ul>
				<li>我请大家吃外卖啦,立即打开你的饿了么App</li>
				<li>注册时输入我的邀请码8x04b。注册并绑定手机</li>
				<li>我们都能获得5元红包奖励</li>
			</ul>
			<button>复制邀请内容</button>
		</div>
	</div>
</div>
